html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 36px;
}

a {
  text-decoration: none;
  padding: 6px;
  color: #204963;
}

